<!DOCTYPE html>
<html>
	<head>
		<title>Nessuna macchina presente</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
	</head>
	<body>
		<header>
			<a class="genericButton" style="float: right;" href="/logout">Sign-out</a>
		</header>
		
		<div class="logo-container">
			<a href="/">
				<img src="/images/siwCarsLogo.jpg" width="320px" />
			</a>
		</div>
		
		<div class="panel" style="padding-bottom: 40px;">
			<h1 style="text-align: center;">Macchine non disponibili</h1>
			
			<div class="user-container">
				<div style="text-align: center;">
					<p style="margin-bottom: 50px;">
						Gentile <span th:text="${person.nome} + ' ' + ${person.cognome} + ' '"></span>
						nel suo account non e' presente alcuna macchina, per effettuare un nuovo ordine aggiunga prima una macchina qui:
					</p>
					<a class="genericButton" href="/newCar">Nuova macchina</a>
				</div>
			</div>
		</body>
	</html>