<!DOCTYPE html>
<html>
	<head>
		<title>Aggiorna profilo</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
	</head>
	<body>
		<header>
			<a class="genericButton" style="float: right;" href="/login">Sign-in</a>
		</header>
		
		<div class="logo-container">
			<a href="/">
				<img src="/images/siwCarsLogo.jpg" width="320px" />
			</a>
		</div>
		
		<div class="panel" style="padding-bottom: 40px;">
			<h1 style="text-align: center;">Aggiorna il tuo profilo</h1>
			
			<div class="user-container">
				
				<form th:action="@{/profile/edit}" method="POST" accept-charset="UTF-8">
					
					<div th:object="${person}">
						<div th:if="${#fields.hasGlobalErrors()}">
							<p style="color: red; text-align: center;" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
						</div>
					</div>
					<div class="form-elements">
				<div class="column">
					<div>
					<label>Nome</label>
					<input type="text" required th:field="${person.nome}" th:value="${person.nome}">
					<span th:if="${#fields.hasErrors('person.nome')}" th:errors="${person.nome}" th:style="'color:red'">
					</span>
					</div>
					<div>
					<label>Luogo di nascita</label>
					<input type="text" required th:field="${person.luogoNascita}" th:value="${person.luogoNascita}">
					<span th:if="${#fields.hasErrors('person.luogoNascita')}" th:errors="${person.luogoNascita}" th:style="'color:red'">
					</span>
					</div>
				</div>
				<div class="column">
					<div>
						<label>Cognome</label>
					<input type="text" required th:field="${person.cognome}" th:value="${person.cognome}">
					<span th:if="${#fields.hasErrors('person.cognome')}" th:errors="${person.cognome}" th:style="'color:red'">
					</span>
					</div>
					<div>
						<label>Data di nascita</label>
					<input type="date" required th:field="${person.dataNascita}" th:value="${person.dataNascita}">
					<span th:if="${#fields.hasErrors('person.dataNascita')}" th:errors="${person.dataNascita}" th:style="'color:red'">
					</span>
					</div>
				</div>
					</div>
					<div class="form-submit">
						<button type="submit">Aggiorna</button>
					</div>
					
				</form>
			</div>
		</body>
	</html>