/*New Order*/



/*Grage*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  margin: 20px;
  padding: 5%;
  padding-bottom: 10%;
  display: table;
  background-color: #42414d;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #a6a5ad;
  border: 3px solid transparent;
}

.li:last-of-type {
  border-bottom: none;
  text-decoration: none;
}

.li:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #007aff;
  text-decoration: none;
}



/*Orders*/


.order{
	margin-bottom: 12px !important;
}

.order-header{
border-radius: 8px 8px 0 0;
margin: auto;
margin-top: 0;
border: 1px #D5D9D9 solid;
}

.order-header-data{
border-radius: 8px;
position: relative;
padding: 14px 18px;
margin: auto;
overflow: hidden;
}
.grid{
position: relative;
}
.order-number{
text-align: right;
float: right;
width: 15%;
}

.column-grid{
margin-right: 2%;
float: left;
}

.order-date{
width: 31.948%;
}

.div-label{
width: 100%;
font-size: 12px !important;
line-height: 16px !important;
}

.div-value{
width: 100%;
font-size: 14px !important;
line-height: 20px !important;
}

.price{
width: 14.948%;
margin-left: 10%;
}

.order-body{
margin-top: -1px;
border-radius: 0;
display: block;
background-color: #eee;
border-radius: 0 0 8px 8px;
}

.order-body-data{
border-radius: 8px;
position: relative;
padding: 16px 20px;
display: table !important;
table-layout: fixed;
width: 100%;
}

.left-body-grid{
	padding-right: 3.2%;
	float: left;
	vertical-align: top;
}

.right-body-grid{
width: 260px;
margin-right: -260px;
float: left;
vertical-align: top;
float: none !important;
display: table-cell !important;
position: relative;
overflow: visible;
min-height: 1px;
}

.status-div{
	width: 100px;
	margin-left: -100px;
	float: left;
}

.text-button{
color: #fff;
text-decoration: none !important;
}

.style-button{
display: block;
border-radius: 8px;
box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
cursor: pointer;
text-align: center;
margin-bottom: 4px !important;
padding: 1.5%;
}

.details-button{
background: #007aff;
border: 1px #0060d9 solid;
}

.delete-button{
background: red;
border: 1px darkred solid;
}

.order-title{
padding-left: 1.5%;
float: left;
margin-left: 45px;
font-size: 21px !important;
}

/*UserPanel*/


.user-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 20px;
}

.panel-grid{
  width: 33%;
  height: auto;
  display: block;
  margin: 0 2%;
}

.box{
  padding: 5%;
  padding-bottom: 10%;
  background-color: #42414d;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #a6a5ad;
  text-align: center;
}
.link {
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  display: block;
}

.box:hover {
  border-color: #007aff;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 4px;
  text-rendering: optimizeLegibility;
  color: #eee;
  text-align: center;
  margin: 5%;
}

.content{
	font-size: 14px;
	line-height: 20px;
}

.panel{
  background-color: #292929;
  width: 80%;
  min-height: 100%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
}

.avatar{
	  width: 125px;
      height: 125px;
      border-radius: 100%;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 69px;
      font-weight: bold;
      color: white;
      border: 2px solid dimgrey;
}

.carListUser{
	color: white;
}





/*Form*/


.form-container {
  width: 680px;
  margin: 5% auto 2%;
  /*background-color: #f6f6f6;*/
  background-color: #2b2a33;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px #D5D9D9 solid;
}

form {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  width: 69%;
  margin: auto;
  padding: 2%;
}

.form-submit {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;*/
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
  /*align-items: center;*/
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: red;
  font-size: 0.875em;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #1d1d1f;
  /*background-color: #eaeaea;*/
  background-color: #1c1c1c;
  color: #a6a5ad;
  width: 100%;
}

input:focus {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #007aff;
}

textarea{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #1d1d1f;
  /*background-color: #eaeaea;*/
  background-color: #1c1c1c;
  color: #a6a5ad;
  width: 100%;
  height: 100px;
}

textarea:focus {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #007aff;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0060d9;
}





/*Barra Menu*/


.container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 20px;
}

#menu {
  display: block;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  /*color: #1d1d1f;*/
  color: #a6a5ad;
  font-size: 1.5em;
  text-align: center;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.banner {
  display: block;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}





/*Template*/



body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #a6a5ad;
  background-color: #1e1e1e;
  font-size: 14px;
line-height: 20px;
}

#logo-img {
  max-width: 100%;
  max-height: 100%;
}
.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-img:hover {
  cursor: pointer;
}

#logo-link {
	width: 369px;
	height: auto;
}

#title {
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin: 2% auto;
  text-decoration: none;
  text-align: center;
}