<!DOCTYPE html>
<html>
<head>
	<title>Chi siamo</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>
<body>
	<header>
		<a class="genericButton" style="float: right;" href="/login">Sign-in</a>
	</header>
	
	<div class="logo-container">
		<a href="/">
			<img src="/images/siwCarsLogo.jpg" width="320px" />
		</a>
	</div>
	<div class="panel" style="padding-bottom: 40px;">
		<h1 style="text-align: center; margin-bottom: 5%;">Officina SiW</h1>
		<hr style="color: red;">
		
		<div class="user-container" style="margin-top: unset; padding-top: unset;">
			<h2>Chi siamo</h2>
			<p>Siamo un'officina meccanica specializzata nel fornire servizi di riparazione e manutenzione per veicoli di ogni tipo.</p>
			
			<h2>La nostra passione</h2>
			<p>Amiamo il nostro lavoro e ci impegniamo costantemente per offrire un servizio di qualità ai nostri clienti. La nostra passione per l'automotive ci spinge a cercare sempre soluzioni innovative e tecnologicamente avanzate.</p>
			
			<h2>Competenze e professionalità</h2>
			<p>Il nostro team è composto da meccanici altamente qualificati, con anni di esperienza nel settore. Siamo costantemente aggiornati sulle ultime tecnologie e tendenze nel campo dell'automotive, in modo da fornire ai nostri clienti il miglior servizio possibile.</p>
			
			<h2>Obiettivi</h2>
			<p>Il nostro obiettivo principale è soddisfare le esigenze dei nostri clienti, garantendo un servizio rapido, affidabile e di alta qualità. Vogliamo essere il punto di riferimento per tutti coloro che necessitano di assistenza per il proprio veicolo.</p>
		</div>
	</div>
</body>
</html>
