<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/stile.css" />
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>	
	<div th:if="${account}">
		<h2 id="title">Dettagli Account</h2>
		<div class="vehicle-details">
			<ul>
				<li><strong>Targa: </strong><span th:text="${account.username}">Targa</span></li>
				<li><strong>Modello: </strong><span th:text="${account.password}">Modello</span></li>
				<li><strong>Marca: </strong><span th:text="${account.isAdmin}">Marca</span></li>
			</ul>
		</div>
		<div th:unless="${account}">Non esiste</div>
</body>

</html>