<!DOCTYPE html>
<html>

<head>
	<title>Elenco Persone</title>
	<link rel="stylesheet" href="/stile.css" />
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>	<h1 id="title">Persone registrate</h1>
	<div class="form-container">
		<div th:if="${account.isEmpty()}">Non ci sono account registrate nel sistema</div>
		<ul>
			<li th:each="test : ${account}">
				<a class="li" th:href="@{'/account' + '/' + ${test.id}}"
					th:text="${test.username} + ' ' + ${test.password} + ' (' + ${test.isAdmin} + ')'">Nome Cognome
					(luogoNascita)</a>
			</li>
		</ul>
	</div>
</body>

</html>