<!DOCTYPE html>
<html>

<head>
	<title> User Panel</title>
	<link rel="stylesheet" href="/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>
	<div class="panel">
		<div class="avatar">AB</div>
		<h1 id="title">Garage</h1>
		<div class="carList container" th:if="${cars.isEmpty()}">
			<h2>Nessuna richiesta di riparazione inviata</h2>
		</div>

<div style="width: 980px; margin: auto;">

		<div class="order">
			<div class="order-header">
				<div class="order-header-data">
					<div class="column-grid order-date">
						<div class="div-label">
							<span>ORDINE EFFETTUATO IL:</span>
						</div>
						<div class="div-value">
							<span>8 ottobre 2016</span>
						</div>
					</div>
					<div class="column-grid price">
						<div class="div-label">
							<span>TOTALE RIPARAZIONE</span>
						</div>
						<div class="div-value">
							<span>€250,00</span>
						</div>
					</div>
					<div class="order-number">
						<div class="div-label">
							<span>ORDINE #</span>
							<span>403-6432399-2557148</span>
						</div>
					</div>
				</div>
			</div>
			<div class="order-body">
				<div class="order-body-data">
					<div class="left-body-grid">
						<div style="width: 180%">
							<div style="padding-left: 100px">
								<div class="status-div">
									<img alt="Done icon" src="/done.png" width="90" height="60">
								</div>
								<div class="order-title">
									<span>Titolo riparazione (che tipo di intervento)</span>
									<div class="div-label" style="margin-top: 3.5%;">
										<span>Dettagli macchina (marca modello immatricolazione)</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-body-grid">
						<div style="width: 100%; margin-left: -40px;">
							<span class="style-button details-button">
								<a href="/" class="text-button" role="button">Visualizza dettagli dell'ordine</a>
							</span>
							<span class="style-button delete-button">
								<a href="/" class="text-button" role="button">Elimina ordine</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>