<!DOCTYPE html>
<html>

<head>
	<title>Cerca Macchina</title>
	<link rel="stylesheet" href="/stile.css" />
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>	<div class="form-container">
		<h1 id="title">Ricerca inserendo la targa:</h1>
		<form th:action="@{/searchCars}" method="post">
			<div class="form-group">
				<input placeholder="Inserisci qui" type="text" name="targa" th:value="${targa}" required
					style="text-transform: uppercase;" />
				<div class="form-submit">
					<button type="submit">Invia</button>
		</form>
	</div>
</body>

</html>