<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/stile.css" />
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>
	<div class="form-container">
		<h1 id="title">Macchine targate <span th:text="${targa}">numeroTarga</span>
		</h1>
		<div th:if="${cars.isEmpty()}">Non ci sono macchine targate "<span th:text="${targa}">numeroTarga</span>"</div>
		<ul th:if="${!cars.isEmpty()}">
			<li th:each="car : ${cars}">
				<a class="li" th:href="@{'/cars' + '/' + ${car.id}}"
					th:text="${car.marca} + ' ' + ${car.modello} + ' (' + ${car.targa} + ')'">Marca Modello (Targa)</a>
			</li>
		</ul>
	</div>
</body>

</html>