<!DOCTYPE html>
<html>

<head>
	<title>SIW - Cars</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/images/siwCarsLogo.jpg" />
		</a>
	</div>
	<h1 id="title">Officina Auto</h1>
	<div class="container">
		<a class="box" href="/formNewCar">Richiesta inserimento macchina</a>
		<a class="box" href="/cars">Mostra le auto in officina</a>
		<a class="box" href="/formSearchCars">Cerca macchina</a>
	</div>
	<div class="container">
		<a class="box" href="/formNewPerson">Registrazione nuovo utente</a>
		<a class="box" href="/accounts">Mostra tutti gli utenti registrati</a>
		<a class="box" href="/formSearchPerson">Ricerca utente per nome e cognome</a>
	</div>
	<div class="container">
		<a class="box" href="/formLogin">Accedi</a>
		<a class="box" href="/user/1/userPanel">User Panel</a>
		<a class="box" href="/admin/adminPanel">Admin Panel</a>
	</div>
</body>

</html>
