<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
	</head>
	<body>
		<header>
			<a class="genericButton" style="float: right;" href="/login">Sign-in</a>
		</header>
		
		<div class="logo-container">
			<a href="/">
				<img src="/images/siwCarsLogo.jpg" width="320px" />
			</a>
		</div>
		
		<div class="panel" style="padding-bottom: 40px;">
			<h1 style="text-align: center;">Login</h1>
			
			<div class="user-container">
				
				<form th:action="@{/login}" method="POST" accept-charset="UTF-8">
				
					<div class="form-elements">
					<div class="loginForm">
					<div>
					<label>Username:</label>
					<input name="username" type="text" required />
					</div>
					
					<div>
					<label>Password:</label>
					<input name="password" type="password" required />
					</div>
					<div th:if="${param.error != null}">
						<span style="color: red; text-align: center;">Username o password errati</span>
					</div>
					</div>

					</div>
					<div class="form-submit">
						<button type="submit">Sign-in</button>
					</div>
					
				</form>
			</div>
		</body>
	</html>