<!DOCTYPE html>
<html>

<head>
	<title> User Panel</title>
	<link rel="stylesheet" href="/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> <!-- aggiunto dopo -->
<div>
	<div class="logo-container">
		<a id="logo-link" href="/">
			<img id="logo-img" src="/siwCarsLogo.jpg" />
		</a>
	</div>
	<div class="panel">
	<div class="avatar">AB</div>
	<h1 id="title">Pannello utente</h1>
	
	<div class="user-container">
		
<div class="panel-grid">
			<a class="link" href="/user/1/newOrder">
			<div class="box">
				<div class="div-value"><h2>Ordine</h2></div>
				<div class="div-label">Invia una richiesta di riparazione</div>
			</div>
		</a>
</div>

<div class="panel-grid">
		<a class="link" href="/user/1/cars">
			<div class="box">
				<div class="div-value"><h2>Grage</h2></div>
				<div class="div-label">Controlla lo stato degli ordini</div>
			</div>
		</a>
</div>

<div class="panel-grid">
		<a class="link" href="/formSearchCars">
			<div class="box">
				<div class="div-value"><h2>Dati personali</h2></div>
				<div class="div-label">Visualizza o modifica i tuoi dati</div>
			</div>
		</a>
	</div>
	</div>
	</div>
</body>

</html>